@font-face { font-family: Goudy; src: url('resources/Valiant.ttf'); } 

body {
    background-color: #C4C4C4;
}

body a {
    color: #000000;
}

#header {
    background-color: #898989;
    width: 100%;
    color: #FFFFFF;
    font-size: 18pt;
	font-family: Goudy;
    border: 1px solid #000000;
}

#output {
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    border: 1px solid #898989;
    font-weight: bold;
    color: red;
    text-align: center;
}

#container {
    overflow: hidden;
}

#content
{
	margin-left: 144px;
}
#sidebar
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 144px;
	overflow: auto;
}
body > #sidebar
{
	position: fixed;
}

#flagimg {width:300px;}

a
{
	text-decoration: none;
	color: #D6BF61;
}
a:hover
{
	color: #000000;
   	text-decoration: none;
	background: #FFFFFF;
}
html
{
	color: black;
	background-color: #000000;
	font-size: medium;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}
div#stattitle
{
	font-family: Goudy;
}
table#personalstats
{
	position:relative;
	float: left;
}
table#personalstats td
{
	text-align: left;
}
table#populationstats
{
	position:relative;
}
table#populationstats td
{
	text-align: left;
}
table#buildingstats td
{
	text-align: left;
}
table#personalstats, table#populationstats, table#buildingstats, {
  display:inline-block;
}
td
{
	text-align: left;
	font-size: medium;
}
th
{
	text-align: center;
	font-size: medium;
}

.guide
{
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
}
.guide dt
{
	font-weight: bold;
	color: white;
}
.guidetoc td
{
	color: white;
	text-align: center;
	background-color: #2F2F2F;
}
.guidetoc th
{
	color: white;
	background-color: #4F4F4F;
}

.menu ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li
{
	color: white;
	text-align: center;
	background-color: #4F4F4F;
	font-weight: bold;
}
.menu li li
{
	color: white;
	text-align: center;
	background-color: #2F2F2F;
	font-weight: normal;
}

.inputtable td
{
	font-size: medium;
	color: white;
}
.inputtable th
{
	font-size: medium;
	color: white;
	background-color: #4F4F4F;
}
.scorestable th
{
	color: white;
	font-size: medium;
	padding: 0.1em 0.5em;
}
.scorestable td
{
	font-size: small;
	padding: 0.1em 0.5em;
}
.empstatus th { text-align: left; }
.empstatus td { text-align: right; }

.mnormal { color: white; }
.mdisabled { color: yellow; }
.mself { color: aqua; }
.mclan { color: #9FBFDF; }
.mally { color: #7F9FDF; }
.mwar { color: #FF8000; }
.mprotected { color: #9FDF9F; }
.mdead { color: red; }
.madmin { color: #FF7FFF; }

.cgood { color: lime; }
.cwarn { color: yellow; }
.cbad { color: red; }
.cneutral { color: white; }

.era1
{
	color: white;
	background-color: navy;
	font-size: large;
}
.era2
{
	color: white;
	background-color: maroon;
	font-size: large;
}
.era3
{
	color: white;
	background-color: #005F00;
	font-size: large;
}
.era0
{
	color: white;
	background-color: maroon;
	font-size: large;
}
.al { text-align: left; }
.ac { text-align: center; }
.ar { text-align: right; }


#navigation {
    background-color: #C3C3C3;
    width: 179px;
    float: left;
    margin-bottom: -32767px;
    padding-bottom: 32767px;
    border-left: 1px solid #000000;
    border-right: 1px solid #898989;
}

#navigation a {
    color: #000000;
    text-decoration: none;
}

#nav_div {
    padding: 10px;
}

#con_div {
    padding: 10px;
}

#content {
    background-color: #DDDDDD;
    width: 620px;
    float: left;
    margin-bottom: -32767px;
    padding-bottom: 32767px;
    border-right: 1px solid #000000;
}

#footer {
    background-color: #898989;
    width: 100%;
    color: #FFFFFF;
    font-size: 12pt;
    border: 1px solid #000000;
}
